<footer class="wrapper region">
    <p>Den senaste versionen hittar du på <a href="https://github.com/jensadev/wsp1-boilerplate">Github</a>.</p>
    <p>Hittar du något som är fel, behöver uppdateras eller fixas så skapa gärna ett <a
            href="https://github.com/jensadev/wsp1-boilerplate/issues">issue</a> på Github.</p>
</footer>