{% extends "layout.njk" %}

{% block content %}
{% include "components/header.njk" %}
<main class="wrapper">
    <p>Repot innehåller det mesta du behöver för att komma igång samt en grundläggande mappstruktur. Inkluderat är de
        startskript du behöver för att köra servern:</p>
    <ul>
        <li>npm run dev</li>
        <li>npm test</li>
        <li>npm start</li>
    </ul>
    <p> Servern har även en grundläggande felhantering och loggar eventuella fel till konsollen med morgan.</p>
</main>
{% include "components/footer.njk" %}
{% endblock %}